<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584429776997-kvc2pd26pt1et47s6bvot6h3enfatvd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584429776997-kvc2pd26pt1et47s6bvot6h3enfatvd0</string>
	<key>API_KEY</key>
	<string>AIzaSyCFBMRp24sh99f9yNdegR7umg1nYxBF0Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>584429776997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webiliapp.fooddeliveryapp</string>
	<key>PROJECT_ID</key>
	<string>webili-ios--auth</string>
	<key>STORAGE_BUCKET</key>
	<string>webili-ios--auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584429776997:ios:c63898b1c9f4186131d68c</string>
</dict>
</plist>